* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.text-light {
  color: #ad0951 !important;
  font-weight: bolder !important;
  font-size: x-large;
  margin-top: 1rem;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #6F6F6F;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}


.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  color: crimson;
}

.overflow-hidden {
  overflow: hidden !important;
}

.border-right {
  border-right: 1px solid #EDF1FF !important;
}

.border-left {
  border-left: 1px solid #EDF1FF !important;
}

.w-100 {
  width: 100% !important;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.p-0 {
  padding: 0 !important;
}

.position-relative {
  position: relative !important;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.cat-item .cat-img img,
.product-item .product-img img {
  transition: .5s;
}

.border-0 {
  border: 0 !important;
}

.col-sm-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.card1 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.box{
  background-color: #19212a !important;
  width: 300px;
  padding: 16px;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  font-weight: bolder !important;
}

.text-white {
  color: #fff !important;
  
}

.btn-light {
  color: #4c9beb;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.font-weight-medium {
  font-weight: 500;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}



.justify-content-center {
  justify-content: center !important;
}

.p-3 {
  padding: 1rem !important;
}

/* Header/Blog Title */
.header,.body {
  padding: 30px;
  text-align: center;
  background: white;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}


.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  float: none;
  overflow: hidden;
  background-color: #004573;
  width: 98%;
  margin-left: 14px;
  display: inline-block;
  list-style-type: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

#header-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row-cols-1 > * {
  flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 50%;
  max-width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.row-cols-4 > * {
  flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 20%;
  max-width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-primary {
  color: #004573!important;
}

.text-danger {
  color: #dc3545 !important;
}

.col-lg-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.contact-form .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.paragraph{
  color: gray;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.col-md-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.col-lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.bg-secondary {
  background-color: #EDF1FF !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #bac9ff !important;
}

.bg-secondary {
  background-color: #EDF1FF !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #bac9ff !important;
}

.text-dark {
  color: #1C1C1C !important;
}

a.text-dark:hover, a.text-dark:focus {
  color: black !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-bolder {
  font-weight: bolder !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.pr-xl-5,
  .px-xl-5 {
    padding-right: 3rem !important;
  }

    .pl-xl-5,
  .px-xl-5 {
    padding-left: 3rem !important;
  }
  .pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.col-lg-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-md-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.col-lg-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.border-top {
  border-top: 1px solid #EDF1FF !important;
}

.border-light {
  border-color: #FFFFFF !important;
}

.ml-xl-5,
.mx-xl-5 {
  margin-left: 3rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.pr-xl-0,
.px-xl-0 {
  padding-right: 0 !important;
}

.text-center {
  text-align: center !important;
}

.col-lg-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.section-title {
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  font-weight: bold;
  color: #1C1C1C;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-left {
  text-align: left !important;
}

.input-group-prepend,
.input-group-append {
  display: flex;
}

.bg-transparent {
  background-color: transparent !important;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #EDF1FF;
}

.was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
  color: #28a745;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.btn-primary {
  color: #212529;
  background-color: #D19C97;
  border-color: #D19C97;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #EDF1FF;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #6F6F6F;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 17px;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: unset;
  align-items: stretch;
  width: 100%;
}

.text-right {
  text-align: right !important;
}

.col-lg-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.m-0 {
  margin: 0 !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.align-items-center {
  align-items: center !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.border {
  border: 1px solid #EDF1FF !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.border-white {
  border-color: #fff !important;
}
.dropdown-toggle-split {
  padding-right: 0.5625rem;
  padding-left: 0.5625rem;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.fade {
  transition: opacity 0.15s linear;
}

.tab-content > .tab-pane {
  display: none;
}

.border-secondary {
  border-color: #EDF1FF !important;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-control-inline {
  display: inline-flex;
  margin-right: 1rem;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.bugd{
  font-size: 28px;
}
.bugd-det{
  font-size: 15px;
}

.text-muted {
  color: #6c757d !important;
} 
.d-lg-block {
  display: block !important;
}
.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.d-none {
  display: none !important;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #c17a74;
  border-color: #bd726b;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.dropdown-toggle-split::after,
.dropup .dropdown-toggle-split::after,
.dropright .dropdown-toggle-split::after {
  margin-left: 0;
}

.dropleft .dropdown-toggle-split::before {
  margin-right: 0;
}

.btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
}

.btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}
@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
  .text-md-right {
    text-align: right !important;
  }
  .text-md-center {
    text-align: center !important;
  }
}

.justify-content-between {
  justify-content: space-between !important;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.collapse:not(.show) {
  display: none;
}

.pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important;
  }

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.bg-light {
  background-color: #FFFFFF !important;
}

@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important;
  }
  .text-lg-right {
    text-align: right !important;
  }
  .text-lg-center {
    text-align: center !important;
  }
}

@media (max-width: 1200px) {
  .display-1 {
    font-size: calc(1.725rem + 5.7vw) ;
  }
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

@media (max-width: 1200px) {
  .display-2 {
    font-size: calc(1.675rem + 5.1vw) ;
  }
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

@media (max-width: 1200px) {
  .display-3 {
    font-size: calc(1.575rem + 3.9vw) ;
  }
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

@media (max-width: 1200px) {
  .display-4 {
    font-size: calc(1.475rem + 2.7vw) ;
  }
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}